*{
    margin: 0;
    padding: 0;
}

ul li a:hover{
    color: rgb(192, 189, 205);
}

#title{
    margin-top: 30px;
}

.title1{
    margin: 10px;
}

.form-group{
    margin: 10px;
}

